services:
  postgres:
    image: postgres:15-alpine
    container_name: cityreporter-db
    environment:
      POSTGRES_DB: cityreporter
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
